#list {
    height:900px; width:100%;
    overflow:hidden; overflow-y:scroll;
    font-size: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 20px;
}

#lists {
    border: 1px solid black;
    padding-bottom: 2px;
}

#app-title {
    text-align: center;
    font-weight: 600;
}

#app-date {
    float:right;
}

#input-box {
    height:30px;
    width: 300px;
    font-size:14pt;
    margin: 20px 20px 10px 40px;
    border: 1px solid black;
    flex-wrap: wrap;
}

#list-item {
    padding: 0;
    border: none;
    background: none;
    outline:0;
}

#title {
    text-align: center;
}

#content {
    margin: 20px 10px 10px 10px;
    padding: 20px 10px 70px 10px;
    flex-wrap: wrap;
}

.container {

    margin:0 auto;
    flex-wrap: wrap;
}

hr{
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}
